<mat-card class="mat-elevation-z8">
    <form [formGroup]="myForm" (ngSubmit)="submit(myForm.value)">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="">{{ 'admin.post.title' | translate }}</label>
                        <input type="text" class="form-control" formControlName="title" />
                    </div>
                    <div class="form-group">
                        <label for="">{{ 'admin.post.category' | translate }}</label>
                        <select name="" id="" class="form-control" formControlName="category">
                            <option *ngFor="let c of cates" value="{{c.id}}"> {{ c.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">{{ 'admin.post.desc' | translate }}</label>
                        <textarea name="" id="" cols="30" rows="10" class="form-control" formControlName="comments"></textarea>
                    </div>
                    <div class="form-group">
                        <button mat-flat-button color="warn" class="btn" type="submit">{{ 'admin.post.save' | translate }}</button>
                    </div>
                </div>
                <div class="col-md-3">
                    
                    <input type='file' (change)="readURL($event);" formControlName="image" style="width: 220px;"/>
                    <img id="blah" [src]="imageSrc || 'https://via.placeholder.com/150'" alt="your image" />              
                    
                </div>
            </div>
        </div>     
    </form>
    
</mat-card>

