.container-fluid{
  background-color: #19bc9d;
  height: 100vh;
}
.container{
  padding: 7%;
}
.card{
  margin:auto;
  /*height: 300px;*/
  border: none;
  background-color: #fff;
}

.card-header{
  background-color: #1acf70;
  color: #fff;
}
.card-social{
  background-color: #fff;
  margin:  auto;
  padding-top: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

.btn-facebook{
  background-color: dodgerblue !important;
  border-color: transparent;
  height: 35px !important;
}

.btn-google{
  background-color: firebrick !important;
  border-color: transparent;
  height: 35px !important;
}

.btn{
  background-color: #1acf70;
  color: #fff;
  height: 50px;
}

.input-group-text{
  background-color: #1acf70;
  color: #fff;
}
.card-footer p>a{
  text-decoration: none;
  color: #1acf70;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
small{
  color: red;
}

@media only screen and (min-width:900px){
  .card{
    width: 40%;
  }
  .card-social{
    width: 40%;
    height: 60px;
  }
  .btn-facebook{
    margin-bottom: 5px;
  }
}

@media only screen and (max-width:900px){
  .card{
    width: 70%;
  }
  .card-social{
    width: 70%;
    height: 60px;
  }
  .btn-facebook{
    margin-bottom: 5px;
  }
}

@media only screen and (max-width:600px){
  .card{
    width: 95%;
  }

  .card-social{
    width: 95%;
    height: 100px;
  }
  .btn-facebook{
    margin-bottom: 5px;
  }
}



@media only screen and (max-width:800px) and (min-width: 600px) {
  .card{
    width: 95%;
  }

  .card-social{
    width: 95%;
    height: 100px;
  }
  .btn-facebook{
    margin-bottom: 5px;
  }
}
