
<div class="row" style="background-color: white; color: black; padding: 20px;">
 <h1>{{ 'admin.category.list' | translate }}</h1>
 <mat-divider></mat-divider>
    <div class="col-md-12">
        <div class="row" style="padding-top:10px;">
          <div class="col-md-3">
            <button mat-stroked-button class="btn btn-primary">
              <mat-icon>checklist_rtl</mat-icon>
              {{ 'admin.category.select' | translate }}
            </button>
          </div>
          <div class="col-md-3">
              <button mat-stroked-button class="btn btn-warning">
                <mat-icon>edit</mat-icon>
                {{ 'admin.category.edit' | translate }}
              </button>
          </div>
          <div class="col-md-3">
            <button mat-stroked-button class="btn btn-danger"
            [disabled]="!cates.data.length"
            (click)="removeData()">
                <mat-icon>delete</mat-icon>
                {{ 'admin.category.delete' | translate }}
            </button>
          </div>
          <div class="col-md-3">

          </div>
        </div>
        <div class="row">
          <table  mat-table [dataSource]="cates"   class="table table-striped">
          
            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                  [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let c">
                <mat-checkbox 
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(c) : null"
                  [checked]="selection.isSelected(c)"
                  [aria-label]="checkboxLabel(c)"
                  class="example-margin">
                </mat-checkbox></td>
            </ng-container>
      
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef>{{ 'admin.category.name' | translate }}</th>
              <td  mat-cell *matCellDef="let c"> {{c.name }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let c; columns: displayedColumns;"></tr>

          </table>
          
        </div>
        
          <mat-paginator
              [length]="cates.data.length"
              [pageSize]="2"
              [pageSizeOptions]="[2, 5, 7]"
              showFirstLastButtons 
              aria-label="Select page of periodic elements">
          </mat-paginator>
    </div>
    <div class="overlay"  *ngIf="load.isLoading | async">
      <div class="center">
        <mat-progress-spinner class="track"  mode="indeterminate" color="accent">
        </mat-progress-spinner> 
      </div>
    </div>
</div>
