
<div class="row" style="background-color: white; color: black; padding: 20px;">
 <h1>{{ 'admin.category.list' | translate }}</h1>
 <mat-divider></mat-divider>
    <div class="col-md-12">
        <div class="row" style="padding-top:10px;">
          <div class="col-md-3">
            <button mat-stroked-button class="btn btn-primary">
              <mat-icon>checklist_rtl</mat-icon>
              {{ 'admin.category.select' | translate }}
            </button>
          </div>
          <div class="col-md-3">
              <button mat-stroked-button class="btn btn-warning">
                <mat-icon>edit</mat-icon>
                {{ 'admin.category.edit' | translate }}
              </button>
          </div>
          <div class="col-md-3">
            <button mat-stroked-button class="btn btn-danger">
                <mat-icon>delete</mat-icon>
                {{ 'admin.category.delete' | translate }}
            </button>
          </div>
          <div class="col-md-3">

          </div>
        </div>
        <div class="row">
          <table  class="table table-striped">
            <tr>
              <th>No.</th>
              <th>{{ 'admin.category.name' | translate }}</th>
            </tr>
            <tr *ngFor="let c of cates">
              <td>
                <mat-checkbox class="example-margin"></mat-checkbox>
              </td>
              <td>{{c.name }} </td>
            </tr>
          </table>
        </div>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons 
            aria-label="Select page of periodic elements">
          </mat-paginator>
    </div>
</div>
