
<div class="panel panel-success">
    <div class="panel-heading">
    <h2 class="text-center">{{ 'appointment.take' | translate }}</h2>
    </div>
    <div class="panel-body">
        <form action="" method="post">
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="">{{ 'appointment.date' | translate }}</label>
                    <input type="date" name="" id="" class="form-control">
                </div>
                <div class="form-group col-sm-6">
                <label for="">{{ 'appointment.time' | translate }}</label>
                <input type="time" name="" id="" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success form-control">{{ 'appointment.save' | translate }}</button>
            </div>
        </form>
    </div>
</div>
   
  
  