
    <div class="row">
        <div class="col-md-3">
          <mat-card>
                <h1>{{ 'admin.dashboard.user' | translate }}</h1>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <p>
                        <br>
                        <mat-icon>account_box</mat-icon>
                    </p>
                    <h2>4</h2>
                </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-3">
            <mat-card>
                  <h1>{{ 'admin.dashboard.post' | translate }}</h1>
                  <mat-divider></mat-divider>
                  <mat-card-content>
                      <p>
                          <br>
                          <mat-icon>cases</mat-icon>
                      </p>
                      <h2>4</h2>
                  </mat-card-content>
            </mat-card>
          </div>

          <div class="col-md-3">
            <mat-card>
                  <h1>{{ 'admin.dashboard.category' | translate }}</h1>
                  <mat-divider></mat-divider>
                  <mat-card-content>
                      <p>
                          <br>
                          <mat-icon>view_module</mat-icon>
                      </p>
                      <h2>4</h2>
                  </mat-card-content>
            </mat-card>
          </div>

          <div class="col-md-3">
            <mat-card>
                  <h1>{{ 'admin.dashboard.appointment' | translate }}</h1>
                  <mat-divider></mat-divider>
                  <mat-card-content>
                      <p>
                          <br>
                          <mat-icon>date_range</mat-icon>
                      </p>
                      <h2>4</h2>
                  </mat-card-content>
            </mat-card>
          </div>
    </div>
