
  .panel{
    width: 55%;
    margin: 3% auto;
    border: none;
    background-color: #fff;
  }
  small{
    color: red;
  }
  
  .panel-heading{
    background-color: #6A1B9A;
    color: #fff;
  }
  
  .btn{
    background-color: #6A1B9A;
    color: #fff;
    height: 50px;
  }
  
  .input-group-addon{
    background-color: #AA00FF;
    color: #fff;
  }
  .panel-footer p>a{
    text-decoration: none;
    color: #AA00FF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  @media only screen and (max-width:900px){
    .panel{
      width: 70%;
    }
  }
  
  .panel-danger{
    background-color: red !important;
    color: white !important;
  }
  
  .success {
    background-color: #AA00FF !important;
    color: white !important;
  }