<div class="container-fluid">
  <div class="container">
    <div class="card panel-success">
        <div class="card-header">
          <h2 class="text-center">{{ 'login.sign_in' | translate }}</h2>
        </div>
        <div class="card-body">
          <form action="" method="post" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
           
            <div class="input-group mb-3 input-group-lg">
              <div class="input-group-prepend ">
                <span class="input-group-text" id="basic-addon1"><img src="./assets/person.png"/> </span>
              </div>
              <input type="text" class="form-control" placeholder="{{'login.username' | translate}}" aria-label="Username" aria-describedby="basic-addon1" formControlName="username">
            </div>
            <p>
              <small *ngIf="loginForm.controls.username.invalid && (loginForm.controls.username.dirty || loginForm.controls.username.touched)" >{{ 'errors.username' | translate }}</small>
            </p>
              <div class="input-group mb-3 input-group-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="sizing-addon1"><img src="./assets/lock.png"/></span>
                </div>
                <input type="password" id="password" class="form-control" placeholder="{{'login.password' | translate}}" aria-describedby="sizing-addon1"  formControlName="password">
              </div>
              
              <p>
                <small *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">{{ 'errors.password' | translate }}</small>
              </p>
           
            <div class="form-group">
              <button class="btn btn-lg form-control" type="submit" [disabled]="!loginForm.valid" >{{ 'login.login' | translate }}</button>
            </div>
          </form>
        </div>
        <div class="panel-footer">
          <p class="text-center">{{ 'login.not_member' | translate }}? <a routerLink="/register">{{ 'register.sign_up' | translate }}</a> </p>
        </div>
      </div>
  </div>
  </div>
  
  